WEB_CONCURRENCY=1

DB_POOL_SIZE=5  # for future
DB_MAX_OVERFLOW=5  # for future
DB_ECHO=False  # for future
DB_URL=postgresql+asyncpg://postgres:postgres@web_db/main_db  # for future

ALEMBIC_MIGRATION_VERSION_TABLE=scheduler_alembic_migration_version  # for future

WORKERS_NAME=["py36","py38"]

CELERY_BROKER_URL=pyamqp://scheduler:scheduler@rabbitmq:5672/scheduler
CELERY_RESULT_BACKEND=db+postgresql://postgres:postgres@web_db:5432/main_db
CELERY_TIMEOUT=5
CELERY_TASK_LIMIT=5